doctype html
html(land='ru-RU')
  head
    link(rel='stylesheet', href='./css/main.css', type='text/css')
    title hello world!
  body
    p Всем привет!
    p Всем привет!
    p Всем привет!
    p Всем привет!
    p Всем привет!
    p Всем привет!
    p Всем привет!
    .owl-carousel
      .div-1
        p foo
      .div-1
        p foo
      .div-1
        p foo
      .div-1
        p foo
      .div-1
        p foo
    p hhhhhhhhhhhhhhhhhhhhh
  
      
    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")
