
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-angle-left-solid {
	font-size:(512/10)*1rem;
	width:(256/512)*1em;
}
.icon-angle-right-solid {
	font-size:(512/10)*1rem;
	width:(256/512)*1em;
}
.icon-bars {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-calendar-alt-regular {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-comments-solid {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-exchange-alt-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-eye-regular {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-facebook-f-brands {
	font-size:(512/10)*1rem;
	width:(264/512)*1em;
}
.icon-google-plus-g-brands {
	font-size:(512/10)*1rem;
	width:(640/512)*1em;
}
.icon-headphones-alt-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-heart-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-icons8-visa {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-linkedin-in-brands {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-lock-solid {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-mobile-alt-solid {
	font-size:(512/10)*1rem;
	width:(320/512)*1em;
}
.icon-pinterest-p-brands {
	font-size:(512/10)*1rem;
	width:(384/512)*1em;
}
.icon-quote-right-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-search-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shopping-basket-solid {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-sign-in-alt-solid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-sort-down-solid {
	font-size:(512/10)*1rem;
	width:(320/512)*1em;
}
.icon-sort-up-solid {
	font-size:(512/10)*1rem;
	width:(320/512)*1em;
}
.icon-star-regular {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-star-solid {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-truck-solid {
	font-size:(512/10)*1rem;
	width:(640/512)*1em;
}
.icon-twitter-brands {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-user-solid {
	font-size:(512/10)*1rem;
	width:(448/512)*1em;
}
.icon-volume-up-solid {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
.icon-youtube-brands {
	font-size:(512/10)*1rem;
	width:(576/512)*1em;
}
